services:
  bot:
    build: .
    environment:
      DISCORD_BOT_TOKEN: "SEU_TOKEN_AQUI"
      CUTTLY_API_TOKEN: "SEU_TOKEN_AQUI"
      EXCHANGERATE_API_TOKEN: "SEU_TOKEN_AQUI"
      NUMVERIFY_API_TOKEN: "SEU_TOKEN_AQUI"
      WEATHERSTACK_API_TOKEN: "SEU_TOKEN_AQUI"
